@charset "utf-8";

body{
	padding-top: 50px;
	overflow: auto;
}

.main{
	padding: 20px 40px;
	background-color: #fff;
}

.main .page-header{
	margin-top: 0;
	overflow: hidden;
}
table{
	margin-top: 10px;
	float: left;
	width: auto;
}
#start-menu{
	margin-top: 10px;
	width: 30%;
	float: left;
	text-align: right;
}
#login-menu{
	margin-top: 10px;
	width: 30%;
	float: left;
	text-align: left;
}
#all-playlists{
	width: 50;
	float:left;
}
#my-playlists{
	width:50%;
	float:right;
}
#loading{
 	display: none;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: url(http://no1s.biz/kenshu/image/loader.gif) no-repeat center center #ccc;
 	opacity: 0.5;
 	z-index: 9999;
 }

.movie_box{
	
}
.thum{
	width: 100px;
	background-color: #ffe0f2;
}
.details{
	vertical-align: top;
	font-size: 1.5em;
}
.description{
	font-size: 0.5em;
}
table.index{
 border: double 2px #2196f3;
 }
 table.index td{
 border:double 2px #2196f3;
  width: auto;
 font-size: 25px;
 }
 .header1{
	 overflow: hidden;
 }
 .top{
 	height: 80px;
 	margin-top: 0px;
 	background-color: red;
 }
 .newedit {
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 150px;;
    height: 50px;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.newedit p {
    margin: 0; 
    padding: 0;
    font-size: 30px;
}
#contents{
	width:640px;
	float:left;
	margin:10px;
}
#related{
	background-color:#f1f1f1;
	margin-top:20px;
	padding-left:50px;
	width: 500px;
}
#related table{
	background-color:#fff;
}
#related table tr{
	border-bottom: 3px solid #f1f1f1;
}
#related td.thum{
	padding:10px 10px 20px 10px;
}
#related td.details{
	padding:10px 10px 20px 0;
	vertical-slign: top;
}
.youtube{
	font-color: red;
	font-size: 50px
}
#deleteboc{
	margin: auto;
}
#sortable-table1 {
	width: 50%;
}
#sortable-table1 td, #sortable-table1 th {
	border: solid 1px black;
}
#comments{
	
}

#comment {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #fff0c6;
    border-radius: 30px;
}
#comment:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
#comment:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}
#comment p {
    margin: 0; 
    padding: 0;
}
#inu{
	margin: 10px;
	float: left;
	width: 100px;
	font-size: 30px;
}