@charset "utf-8";

body{
	padding-top: 50px;
	overflow: auto;
}

.main{
	padding: 20px 40px;
	background-color: #fff;
}

.main .page-header{
	margin-top: 0;
	overflow: hidden;
}
table{
	margin-top: 10px;
	float: left;
	width: 800px;
}
#start-menu{
	margin-top: 10px;
	width: 600px;
	float: left;
	text-align: right;
}
#login-menu{
	margin-top: 10px;
	width: 150px;
	float: left;
	text-align: left;
}
#all-playlists{
	width:500px;
	float:left;
}
#my-playlists{
	width:500px;
	float:right;
}